<ul class="contain">
    <li><a href="https://status.jacksonchen666.com{{ .RelPermalink }}">status page on pages.sr.ht</a>
    <li><a href="https://status2.jacksonchen666.com{{ .RelPermalink }}">status page on laptop-server</a> (<a href="http://status2.x7ikq7gwf6vnbvrc7b36nkcxnw7eckwaricmjbdvrajoeql2ccjb5aad.onion{{ .RelPermalink }}">tor onion</a>)</li>
    <li><a href="https://jacksonchen666.com/privacy/#the-static-websites">privacy policy</a> (<a href="http://x7ikq7gwf6vnbvrc7b36nkcxnw7eckwaricmjbdvrajoeql2ccjb5aad.onion/privacy/#self-hosted-http-stuff">tor onion</a>)</li>
    <li><a href="/index.xml">Atom/RSS feed for incidents</a></li>
    <li><a href="https://git.sr.ht/~jacksonchen666/status.jacksonchen666.com">source code (sourcehut)</a></li>
    <li><a href="https://codeberg.org/jacksonchen666/status.jacksonchen666.com">source code (codeberg)</a></li>
    <li><a href="https://git.jacksonchen666.com/jacksonchen666/status.jacksonchen666.com">source code (self-hosted git)</a></li>
</ul>
